@import "./variables.scss";

.nav-container {
  //background: $secondary-color;
  border-bottom: 2px solid red;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.nav-elements {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 10px;
}

.nav-link,
.nav-link:hover {
  color: black;
}
