.search-input {
  width: 50%;
}

.search-input {
  border: 1px solid red;
  width: 50%;
}

.results-container {
  border: 3px solid black;
  width: 100%;

  z-index: 99;
  border: 2px solid green;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.screenplays {
  border: 2px solid yellow;
}
