.search-input {
  width: 100%;
}

.search-container {
  border: 1px solid red;
  width: 100%;
  display: flex;
  justify-content: center;
}

.results-container {
  border: 3px solid black;
  width: 100%;

  z-index: 99;
  border: 2px solid green;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.screenplays {
  border: 2px solid yellow;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  width: 100;
  flex-wrap: wrap;
}
